.btn-primary:hover {
  color: #212529;
  background-color: #ffa615;
  border-color: #ffa615;
}

.btn-default {
  color: #ffa615;
  border: 1px solid #ffa615;
  background-color: transparent;
}

a {
  transition: all .2s ease-in-out;
  color: #ffa615;
}

a:hover {
  color: #ab7318;
  text-decoration: underline;
}

a:focus, a:hover {
  text-decoration: none;
  color: #ab7318;
}

.btn-default:focus, .btn-default:hover {
  color: #000;
  border: 1px solid #ffa615;
  outline: none;
  background-color: #ffa615;
}

.navbar-light .navbar-nav .nav-link {
  /*color: rgba(255,166,21,0.31);*/
}

@media (min-width:992px) {
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255,166,21,0.32);
  }
}

.btn.scrollIntoView(behavior: "smooth", block: "end", inline: "nearest"); {
  color: #21b17b;
  text-decoration: underline;
}

.btn {
  font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  transition: all .3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.twitchPlayer {
  width: 100%;
  height: 300px;
  min-width: 300px;
}

